<p id="notice"><%= notice %></p>

<h1>Listing Dcards</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @dcards.each do |dcard| %>
      <tr>
        <td><%= dcard.description %></td>
        <td><%= dcard.user.email if dcard.user %></td>
        <td><%= link_to 'Show', dcard %>
        <% if dcard.user == current_user %>
          <%= link_to 'Edit', edit_dcard_path(dcard) %>
          <%= link_to 'Destroy', dcard, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Dcard', new_dcard_path %>
<% end %>

